aniso8601==9.0.1
certifi==2021.10.8
click==8.0.3
colorama==0.4.4
dnspython==2.1.0
Flask==2.0.2
Flask-JWT-Extended==4.3.1
Flask-RESTful==0.3.9
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
PyJWT==2.3.0
pymongo==3.12.1
python-http-client==3.3.3
pytz==2021.3
sendgrid==6.9.0
six==1.16.0
starkbank-ecdsa==1.1.1
Werkzeug==2.0.2
